<h1>Hi ${firstName},</h1>

Thanks for getting in touch with us about your favourite fruit! I'm very glad to hear that you enjoy ${favouriteFruit} as much as we do!

Let me know if you have any questions or concerns about this topic.

Sincerely,

<b>Murtaza Latif</b>
VP Communications


<a href="https://facebook.com/engsci.club">Facebook</a>
<a href="https://twitter.com/engsciclub">Twitter</a>
<a href="https://www.linkedin.com/company/engineering-science-club">LinkedIn</a>
<a href="https://instagram.com/engsciclub/">Instagram</a>
<a href="https://www.youtube.com/channel/UC34h24LFmKdwCKd8t1t2zEA">YouTube</a>